* {
  box-sizing: border-box;
}

body {
  background-color: white;
}
header {
  background-color: rgb(228, 220, 220);
}

section {
  background-color: lightgreen;
}
article {
  background-color: grey;
}

footer {
  background-color: lightgrey;
}
