* {
  box-sizing: border-box;
}

body {
  background-color: white;
}
header {
  background-color: rgb(241, 232, 232);
}

section {
  background-color: lightgreen;
}
article {
  background-color: grey;
}

footer {
  background-color: lightgrey;
}
